<mat-card>
    <mat-card-title>
        Available Pizza Toppings
    </mat-card-title>

    <mat-card-content>
        <!-- mat-mini-fab é um css atributo  -->
        <button
            mat-mini-fab
            (click)="chekAll()"
        >
            All
        </button>
        <!-- isso é u, espaco na mesma linha/ conhecido como entites HTMl -->
        &nbsp;  
        <button
            mat-mini-fab
            color= "secondary"
            (click)="unchekAll()"

        >
            None
        </button>
        <br>
        <br>
        <div
            *ngFor="let pt of availablePizzaToppings"
        >
            <!-- se as checkbox estiverem dentro do label o texto tambem funciona como checker -->
            <label>
                <mat-checkbox 
                    [(ngModel)]="pt.checked"
                >
                </mat-checkbox>
                {{ pt.name }} ({{ pt.price | currency }})
            </label>

        </div>
        <br>
        <h3>
            Total: {{ totalPrice | currency }}
        </h3>        

    </mat-card-content>
</mat-card>