
<mat-card 
style="text-align:center;"
>
    <mat-card-title>
        Available Pizza Toppings
    </mat-card-title>
    <mat-card-content>
        <button

            mat-mini-fab
            (click)="checkAll()"
        >
            All
        </button>
        &nbsp;
        <button
            mat-mini-fab
            color="secondary"
            (click)="uncheckAll()"
        >
            None
        </button>
        <br>
        <br>
        <div
            *ngFor="let pt of availablePizzaToppings"
        >
            <label>
                <mat-checkbox 
                    [(ngModel)]="pt.checked"
                >
                </mat-checkbox>
                {{ pt.name }} ({{ pt.price | currency }})
            </label>
        </div>
        <br>
        <h3>
            Total: {{ totalPrice | currency }}
        </h3>        
    </mat-card-content>

    <h3>
        The material page to finde feutures go to get start
        <p>
            <a href="https://material.angular.io/guide/getting-started">
                Material angular
            </a>
        </p>
    </h3>
</mat-card>
