<mat-card>
    <mat-card-title>
        I'm bored what to do?
    </mat-card-title>
    <mat-card-content>
        <div *ngFor="let activity of activities">
            <mat-radio-button 
             [(ngModel)]="myRadio"
             value="{{ activity }}" 
             ngDefaultControl
             >
              {{ activity | titlecase }}
            </mat-radio-button>
        </div>
        <br/>
        <button 
            mat-raised-button 
            color="accent" 
            (click)="findSomethingToDo()"
        >
            What To Do
        </button>

        <h1>
            {{ activity }}
        </h1>
    </mat-card-content>
</mat-card>